h1{
	 font-family: "century gothic", verdana
}
h1{
	 text-align: center;
	 font-size: 40px; 
}
h2{
	 font-style: italic;
	 text-align: center;
	 font-size: 20px;
}
.a1{
	 color: red;
	 font-size: 40px;
}
.a2{
	 color: yellow;
	 font-size: 40px;
}
.a3{
	 color: #0FF000;
	 font-size: 40px;
}
.a4, .a5, .a6, .a7, .a8, .a9, .a10, .a11, .a12, .a13{
	 color: green;
	 font-size: 20px;
}
h3{
	font-size: 25px;
}
a{
	text-decoration:none;
}
.strong1{
	font-size: 15px;
}
li { list-style:none !important; color:#FFF; padding:10px; font-size:20px; text-decoration:none; } nav ul { background-color:#64abfb; padding:0; margin:0; } nav ul li { list-style: none; line-height:44px; float:left; background-color:#64abfb; } nav ul li a { color:#FFF; padding:10px; font-size:20px; text-decoration:none; } li a:hover { border-bottom:3px #FFF solid; } nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */ nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */ z-index:99999; display:list-item !important; position:absolute; margin-top:5px; margin-left:-10px; } nav ul li:hover ul li { float:none; }

/* Barre de Recherche

----------------------------------------------- */

/* Champ de saisie */

#search2 {

    background-color: #ffffff;   /* Couleur de fond */

    border-style: solid;   /* Style de la bordure  */

    border-width: 1px;   /* Epaisseur de la bordure  */

    border-color: #DDDDDD;   /* Couleur de la bordure  */

    padding: 8px 10px 8px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */

    width: 200px;   /* Permet d'ajuster la largeur du champ de saisie à 100% */

    box-sizing: border-box;   /* Important */

    font-family: Trebuchet;   /* Police du texte */

    font-size: 11px;   /* Taille de la police du texte */

    color: #EF9EA9;

    font-weight: gras;   /* Graisse du texte : normal = normal ; bold = gras */

    letter-spacing: 1px;   /* Espacement des caractères */

}

 

#RechercheMenu, #RechercheMenu ul {

    overflow:visible;

    list-style: none;

    z-index : 10;

}

 

#RechercheMenu ul li { /* Sous-menu */

    display: table-cell; /* affichage en ligne */

    position: relative;

    float: none;

}

 

#RechercheMenu a { /* Loupe */

    display: block;

    color: #777777;

    background-color: #ffffff;

    font-size: 14px;

}

 

#RechercheMenu ul {

    position: absolute;

    left: -999em;

    text-align: center;

}

 

#RechercheMenu li:hover ul {

    left: auto; /* remplace le left: auto existant */

    right: auto; /* mettre les deux force l'élément à prendre toute la largeur */

}

